@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* @apply w-full max-w-screen-2xl; */
  @apply w-full;
}

html.dark {
  @apply bg-zinc-900 text-gray-100;
}

html {
  @apply bg-zinc-100 text-gray-800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply flex flex-col items-center;
  @apply w-full h-screen px-8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
